# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Default owner
@decentraland/dapps


# team-specific types and schemas

src/report/ @decentraland/core-developers
src/dapps/ @decentraland/dapps
src/platform/ @decentraland/platform
