name: build and publish

on:
  pull_request:

jobs:
  check_and_build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    outputs:
      s3_bucket_key: ${{ steps.publish_package.outputs.s3-bucket-key }}
    steps:
      - uses: actions/checkout@v4
      - name: install
        run: npm ci
      - name: build
        run: npm run build
      - name: test
        run: npm run test
      - name: validate
        run: npm run lint
      - name: check-api
        run: npm run check-api
      - name: publish packages
        uses: menduz/oddish-action@master
        id: publish_package
        with:
          registry-url: 'https://registry.npmjs.org'
          access: public
          ## use action runId instead of current date to generate snapshot numbers
          deterministic-snapshot: true

          ## publish every package to s3
          s3-bucket: ${{ secrets.SDK_TEAM_S3_BUCKET }}
          s3-bucket-key-prefix: '@dcl/${{ github.event.repository.name }}/branch/${{ github.head_ref }}'
          s3-bucket-region: ${{ secrets.SDK_TEAM_AWS_REGION }}

          ## inform gitlab after publishing to proceed with CDN propagation
          gitlab-token: ${{ secrets.GITLAB_TOKEN }}
          gitlab-pipeline-url: ${{ secrets.GITLAB_URL }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          AWS_DEFAULT_REGION: us-east-1
          AWS_ACCESS_KEY_ID: ${{ secrets.SDK_TEAM_AWS_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.SDK_TEAM_AWS_SECRET }}

  notify_deployment:
    needs: [check_and_build]
    if: ${{ github.event.pull_request.number && !startsWith(github.head_ref, 'dependabot/') }}
    runs-on: ubuntu-latest
    name: Deployment Notification
    steps:
      - name: Find Comment
        uses: peter-evans/find-comment@v3
        id: fc
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: 'github-actions[bot]'
          body-includes: Test this pull request

      - name: Generate S3 URL
        id: url-generator
        run: echo "body=${{ secrets.SDK_TEAM_S3_BASE_URL }}/${{ needs.check_and_build.outputs.s3_bucket_key }}" >> $GITHUB_OUTPUT

      - name: Create or update comment
        uses: peter-evans/create-or-update-comment@v4
        with:
          comment-id: ${{ steps.fc.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            # Test this pull request
            - The package can be tested by running
               ```bash
               npm upgrade "${{ steps.url-generator.outputs.body }}"
               ```
          edit-mode: replace
