on:
  push:
    branches-ignore:
      - "master"
      - "main"
  pull_request:

name: PR Validation
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js 24.x
        uses: actions/setup-node@v6
        with:
          node-version: '24.x'
      - name: npm ci
        run:  npm ci
      - name: npm run build
        run:  npm run build
      - name: npm run test
        run: npm run test
      - name: npm run lint
        run: npm run lint
      - name: npm run check-api
        run: npm run check-api
      - name: print diff if failed
        if: ${{ failure() }}
        run: cp temp/schemas.api.md report/schemas.api.md && git diff
